<!doctype html>
<html ng-app="ngApp">

<head>   	
    <title>Marjan Farma</title>
    <meta charset="utf-8">
    <meta name="description" content="Desde 1961 a Marjan Farma caminha com o compromisso de atuar a favor da melhoria da qualidade de vida. Ao longo de sua trajetoria, orgulha-se de ter construido uma empresa 100% nacional, fundamentada na integridade, etica e transparencia em seus relacionamentos, seja com seus colaboradores, classe medica, comunidade ou parceiros de negocios.Em sintonia com as novas tecnologias, a empresa prepara seu lugar no futuro. Futuro que se faz presente a cada dia, tal a rapidez com que as novas descobertas cientificas transformam-se em novos produtos." />
	<meta name="keywords" content="marjan, marjan farma, farma, farmacia, medicina, medico, saude, bem-estar, bem estar, social, responsabilidade, responsabilidade social, medicamento, medicamentos, doutor, doutores, medicos, medica, medicas, bulas, bula, paciente, pacientes" />
	<meta name="author" content="Marjan Farma" />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <link rel="shortcut icon" href="../../imgs/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../imgs/favicon.ico" type="image/x-icon">
	
	
	<link href="../../css/styles.css" rel="stylesheet" type="text/css">
	<link href="../../css/global-styles.css" rel="stylesheet" type="text/css">
	<link href="../../css/menus.css" rel="stylesheet" type="text/css">
	<link href="../../css/footer.css" rel="stylesheet" type="text/css">	
	
	<link href="../../css/health-doctors.css" rel="stylesheet" type="text/css">
	<link href="../../css/know-more-about-mj.css" rel="stylesheet" type="text/css">
	<link href="../../css/page-header.css" rel="stylesheet" type="text/css">
	
	<script src="../../js/libs/greensock-js/TweenMax.js"></script>	
	<script src="../../js/libs/greensock-js/plugins/ScrollToPlugin.js"></script>
	<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	
	<script src="../../js/common.js"></script>
	<script src="../../js/controllers.js"></script>
	<script src="../../js/application.js"></script>
	<script src="../../js/menu.js"></script>
	
	<script src="../../js/slider.js"></script>
	<script src="../../js/products_home.js"></script>	
</head>

<body class="no-home body-mj">

<header ng-controller="menuController" class="fixed-menu menu">

	<div class="primary-navbar-wrapper" id="primary-navbar-wrapper">
	    <div class="primary-navbar" id="primary-navbar">
		    <div class="navbar col-one-thirdy">
			    <ul>
		        	<nav>
						<li class="active"><a title="marjan.com.br" href="../../index.html">marjan</a></li>
						<li class="redir-medical-news" id="redir-medical-news"><a title="medical news" target="_blank" href="http://www.marjanmedicalnews.com.br/">medical news</a></li>
				    </nav>
			    </ul>
		    </div>
		    <div class="navbar col-two-thirdy">
		    <nav>
				<ul>
					<li class="primary-navbar-img-2" id="navbar-search-btn"><a><img src="../../imgs/menu/primary/search.png" /></a></li>
					<li><a>|</a></li>
					<li><a href="../../sections/noticias/home.html">Sala de Notícias</a></li>
					<li><a href="../../sections/carreira/home.html">Carreira</a></li>
					<li><a>|</a></li>
					<li class="primary-navbar-img"><a href="http://www.facebook.com/marjanfarma" target="_blank"><img src="../../imgs/menu/primary/face.png" /></a></li>
					<li class="primary-navbar-img"><a href="https://br.linkedin.com/company/marjan-farma" target="_blank"><img src="../../imgs/menu/primary/linkedin.png" /></a></li>
					<li class="primary-navbar-img"><a href="http://www.instagram.com/farmamarjan" target="_blank"><img src="../../imgs/menu/primary/insta.png" /></a></li>
					<li class="primary-navbar-sn"><a href="../../sections/sala-social/home.html">Sala Social</a></li>
				</ul>
		    </nav>
		    </div>    
	    </div>
	</div>
   
    <div class="secondary-navbar-wrapper" id="secondary-navbar-wrapper">
    	<div class="secondary-navbar" id="secondary-navbar">
    		<div class="navbar col-one-thirdy">
    			<a href="../../index.html">
		    		<img class="logo" src="../../imgs/_logos/logo-marjan.png" alt=""/>
		    	</a>
			</div>
		    <div class="navbar col-two-thirdy">
		    	<nav>
					<ul>
						<li  class="navbar-about-us navbar-item" id="navbar_about_us"><div class="navbar-link-container"><a target="_self" href="../../sections/sobre-nos/home.html">SOBRE NÓS</a></div></li>
						<li class="navbar-resp-social navbar-item" id="navbar_resp_social"><div class="navbar-link-container"><a target="_self" href="../../sections/responsabilidade-social/home.html">RESPONSABILIDADE SOCIAL</a></div></li>
						<li class="navbar-products navbar-item" id="navbar_products"><div class="navbar-link-container"><a target="_self" href="../../sections/produtos/home.html">PRODUTOS</a></div></li>
						<li class="navbar-health navbar-item" id="navbar_health"><div class="navbar-link-container"><a target="_self" href="../../sections/saude-e-bem-estar/home.html">SAÚDE E BEM-ESTAR</a></div></li>
						<li class="navbar-health-doctors navbar-item" id="navbar_health_doctors"><div class="navbar-link-container"><a target="_self" href="../../sections/profissionais-da-saude/home.html">PROFISSIONAIS DA SAÚDE</a></div></li>
						<li class="navbar-contact navbar-item" id="navbar_contact"><div class="navbar-link-container"><a target="_self" href="../../sections/contato/home.html">CONTATO</a></div></li>
					</ul>
				</nav>
		    </div>
    	</div>
	</div>
   
   <!--Submenu About Us-->
   <div class="submenu-wrapper submenu-about-us" id="submenu-wrapper-about-us">
  		<div class="submenu" id="submenu-about-us">
  			<div class="col-one-fourth submenu-column-01 submenu-columns submenu-heigth submenu-description" id="submenu-about-us-column-01">
  				<div class="submenu-desc-title text-left"><h4>SOBRE NÓS</h4></div>
  				<div class="submenu-desc-summary text-left"><p>Somos uma indústria farmacêutica brasileira, com uma história de 55 anos de desenvolvimento de produtos para a saúde</p></div>
  				<div class="submenu-desc-button"><a href="../../sections/sobre-nos/home.html"><button id="sm-prod-au-btn-km"></button></a></div>
  			</div>
       		<div class="col-three-fourth submenu-column-02 submenu-heigth" id="submenu-about-us-column-02">	 
       		    <div class="submenu-columns submenu-heigth submenu-column-02-left">
  					<div class="submenu-desc-title text-left width-100"><h4>NOSSA HISTÓRIA</h4></div>
					<ul class="submenu-desc-summary text-left">						
						<li><p><a href="../../sections/sobre-nos/home.html">Sobre Nós</a></p></li>
						<li><p><a href="../../sections/sobre-nos/home.html#mission-value-section">Missão</a> | <a href="../../sections/sobre-nos/home.html#mission-value-section">Valores</a></p></li>
						<li><p><a href="../../sections/sobre-nos/inovacao.html">Inovação</a> | <a href="../../sections/sobre-nos/qualidade.html">Qualidade</a> | <a href="../../sections/sobre-nos/meio-ambiente.html">Meio Ambiente</a></p></li>
						<li><p><a href="../../sections/sobre-nos/novos-negocios.html">Novos Negócios e Parcerias</a></p></li>
						<li><p><a href="../../sections/sobre-nos/nossa-historia.html">Conheça nossa história</a></p></li>
						<li><p><a href="../../sections/contato/home.html">Contato</a></p></li>
					</ul>
  				</div>				
  				<div class="submenu-columns submenu-heigth submenu-column-02-right" style="background-image: url(../../imgs/menu/submenus/menu-sobre-nos.jpg); background-position: center">
  					<div class="submenu-img-mask"></div>
  					<div class="submenu-desc-input submenu-health-doctors-button"><a href="../../sections/sobre-nos/nossa-historia.html"><button class="">Nossa<br>história</button></a></div>
  				</div>
  			</div>       		
        </div>
    </div>
    
    <!--Submenu Resp Social-->
    <div class="submenu-wrapper submenu-resp-social" id="submenu-wrapper-resp-social">
  		<div class="submenu" id="submenu-resp-social">
  			<div class="col-one-fourth submenu-column-01 submenu-columns submenu-heigth submenu-description" id="submenu-resp-social-column-01">
  				<div class="submenu-desc-title text-left"><h4>RESPONSABILIDADE<br>SOCIAL</h4></div>
  				<div class="submenu-desc-summary text-left"><p>A Marjan Farma acredita na força da iniciativa privada como um importante agente transformador da sociedade. Conheça nossas campanhas</p></div>
  				<div class="submenu-desc-button" id="submenu-resp-social-button"><a href="../../sections/responsabilidade-social/home.html"><button id="sm-prod-rs-btn-km"></button></a></div>
  			</div>
       		<div class="col-three-fourth submenu-column-02 submenu-heigth" id="submenu-resp-social-column-02">	 
       		    <div class="submenu-columns submenu-heigth submenu-column-02-left">
  					<div class="submenu-desc-title center-text"><h4>CAMPANHAS & PARCEIROS</h4></div>
					<div class="submenu-desc-summary center-text">		
						<div><a href="../../sections/responsabilidade-social/home.html#resp-social-campaign-01"><img src="../../imgs/menu/submenus/_SubMenus/menu-inst-omp.jpg" /><p>Instituto Olinto Marques de Paulo</p></a></div>
						<div><a href="../../sections/responsabilidade-social/home.html#resp-social-campaign-02"><img src="../../imgs/menu/submenus/_SubMenus/menu-topo-mulher-coracao.jpg" /><p>Campanha Mulher Coração</p></a></div>
						<div><a href="../../sections/responsabilidade-social/home.html#resp-social-campaign-03"><img src="../../imgs/menu/submenus/_SubMenus/menu-arrvore-generosa.jpg" /><p>Projeto Árvore Generosa</p></a></div>				
						<!--<div><p><a><img src="../../imgs/sections/responsabilidade-social/logo-iomp.png" /></a></p></div>
						<div><p><a><img src="../../imgs/sections/responsabilidade-social/logo-scm.png" /></a></p></div>
						<div><p><a><img src="../../imgs/sections/responsabilidade-social/logo-agv.png" /></a></p></div>-->
					</div>					
  				</div>				
  				<div class="submenu-columns submenu-heigth submenu-column-02-right" style="background-image: url(../../imgs/menu/submenus/menu-resp-social.jpg); background-position: right bottom">  	
  					<div class="submenu-img-mask"></div>				
  					<div class="submenu-desc-input submenu-health-doctors-button"><a href="../../sections/responsabilidade-social/home.html"><button class="">Projetos, Campanhas e<br>Parceiros</button></a></div>
  				</div>
  			</div>       		
        </div>
    </div>
    
    <!--Submenu Products-->    
    <div class="submenu-wrapper submenu-products" id="submenu-wrapper-products">
  		<div class="submenu" id="submenu">
  			<div class="col-one-fourth submenu-column-01 submenu-columns submenu-heigth submenu-description" id="submenu-column-01">
  				<div class="submenu-desc-title text-left"><h4 id="submenu-products-first-title"></h4></div>
  				<div class="submenu-desc-summary text-left"><p>A Marjan Farma está sempre<br>inovando e desenvolvendo<br>novos produtos para melhorar<br>cada vez mais a qualidade de<br>vida.</p></div>
  				<div class="submenu-desc-button"><a href="../../sections/produtos/home.html"><button id="sm-prod-pd-btn-km"></button></a></div>
  			</div>
       		<div class="col-three-fourth submenu-column-02 submenu-heigth" id="submenu-column-02">	 
       		    <div class="submenu-columns submenu-heigth submenu-column-02-left">
  					<div class="submenu-desc-title text-left width-100"><h4 id="submenu-products-second-title"></h4></div>
					<ul class="submenu-desc-summary text-left">						
						<li><p><a href="../../sections/produtos/list.html?show=all" class="submenu-prod-show-all" id="submenu-prod-show-all"></a></p></li>
						<li><p><a href="../../sections/produtos/list.html?show=under_prescription" class="submenu-prod-show-under-pres" id="submenu-prod-show-under-pres"></a></p></li>
						<li><p><a href="../../sections/produtos/list.html?show=exempt_prescription" class="submenu-prod-show-exempt-pres" id="submenu-prod-show-exempt-pres"></a></p></li>
						<li><p><a href="../../sections/produtos/list.html?show=foods" class="submenu-prod-show-foods" id="submenu-prod-show-foods"></a></p></li>
					</ul>
					<div class="submenu-desc-input">
						<p> - </p>
						<div class="input-wrapper-submenu" id="input-wrapper-submenu">
							<input class="input-search-products" type="text" placeholder="" />
							<img src="../../imgs/common/search-orange.png">
						</div>
					</div>
  				</div>				
  				<div class="submenu-columns submenu-heigth submenu-column-02-right" style="background-image: url(../../imgs/menu/submenus/menu-prof-saude.jpg); background-position: center">  		<div class="submenu-img-mask"></div>			
  					 <div class="submenu-desc-input submenu-health-doctors-button"><a href="../../sections/profissionais-da-saude/home.html"><button class="">Profissionais de<br>saúde</button></a></div>
  				</div>
  			</div>       		
        </div>
    </div>    
    
    <!--Submenu Health-->
    <div class="submenu-wrapper submenu-health" id="submenu-wrapper-health">
  		<div class="submenu" id="submenu-health">
  			<div class="col-one-fourth submenu-column-01 submenu-columns submenu-heigth submenu-description" id="submenu-health-column-01">
  				<div class="submenu-desc-title text-left"><h4>SAÚDE E BEM ESTAR</h4></div>
  				<div class="submenu-desc-summary text-left"><p>A Marjan Farma investe em projetos de conteúdo informativo e educacional para ajudar a concientizar sobre a importância de cultivar hábitos saudáveis.</p></div>
  				<div class="submenu-desc-button"><a href="../../sections/saude-e-bem-estar/home.html"><button id="sm-prod-ht-btn-km"></button></a></div>
  			</div>
       		<div class="col-three-fourth submenu-column-02 submenu-heigth" id="submenu-health-column-02">	 
       		    <div class="submenu-columns submenu-heigth submenu-column-02-left">
  					<div class="submenu-desc-title center-text"><h4>HOTSITES</h4></div>
					<div class="submenu-desc-summary center-text">						
						<div><a href="../../sections/saude-e-bem-estar/home.html#health-campaign-01"><img src="../../imgs/menu/submenus/_SubMenus/menu-sim-e-possivel.jpg" /><p>Sim é Possível</p></a></div>
						<div><a href="../../sections/saude-e-bem-estar/home.html#health-campaign-02"><img src="../../imgs/menu/submenus/_SubMenus/menu-gravidez-precisa-de-dois.jpg" /><p>Gravidez precisa de dois</p></a></div>
						<div><a href="../../sections/saude-e-bem-estar/home.html#health-campaign-03"><img src="../../imgs/menu/submenus/_SubMenus/menu-colageno-e-flexibilidade.jpg" /><p>Colágeno e Flexibilidade</p></a></div>
						<!--<div><p><a><img src="../../imgs/sections/saude-e-bem-estar/logo-simepossivel-color-circle.png" /></a></p></div>						
						<div><p><a><img src="../../imgs/sections/saude-e-bem-estar/logo-gravidez-circle-color.png" /></a></p></div>	
						<div><p><a><img src="../../imgs/sections/saude-e-bem-estar/logo_colageno-color-circle.png" /></a></p></div>-->					
					</div>
  				</div>				
  				<div class="submenu-columns submenu-heigth submenu-column-02-right" style="background-image: url(../../imgs/menu/submenus/menu-saude-bem-estar.jpg); background-position: center">  
  					<div class="submenu-img-mask"></div>					
  					<div class="submenu-desc-input submenu-health-doctors-button"><a href="../../sections/saude-e-bem-estar/home.html"><button class="">Incentivo à saúde e ao<br>bem-estar</button></a></div>
  				</div>
  			</div>       		
        </div>
    </div>
    
    <!--Submenu Health Doctors-->
    <div class="submenu-wrapper submenu-health-doctors" id="submenu-wrapper-health-doctors">
  		<div class="submenu" id="submenu-health-doctors">
  			<div class="col-one-fourth submenu-column-01 submenu-columns submenu-heigth submenu-description" id="submenu-health-doctors-column-01">
  				<div class="submenu-desc-title text-left"><h4>PROFISSIONAIS DE SAÚDE</h4></div>
  				<div class="submenu-desc-summary text-left"><p>Um portal com informações e conteúdo científico dedicado ao profissional da saúde! Faça o cadastro e tenha acesso a inúmeros materiais, escritos e gravados por médicos renomados, além de diversos outros materiais sobre os mais variados temas e assuntos relevantes à área médica.</p></div>
  				<div class="submenu-desc-button"><a href="../../sections/profissionais-da-saude/home.html"><button id="sm-prod-hd-btn-km"></button></a></div>
  			</div>
       		<div class="col-three-fourth submenu-column-02 submenu-heigth" id="submenu-health-doctors-column-02">	 
       		    <div class="submenu-columns submenu-heigth submenu-column-02-left">
  					<div class="submenu-desc-title text-left width-100"><h4>ÁREAS</h4></div>
					<ul class="submenu-desc-summary text-left">
						<li><p><a href="http://www.marjanmedicalnews.com.br/" target="_blank">Medical News</a></p></li>
						<li><p><a href="../../sections/farmacovigilancia/home.html">Farmacovigilância</a></p></li>
						<li><p><a href="../../sections/contato/home.html">Contato</a></p></li>
					</ul>						
  				</div>				
  				<div class="submenu-columns submenu-heigth submenu-column-02-right" style="background-image: url(../../imgs/menu/submenus/menu-prof-saude.jpg); background-position: center">
  					<div class="submenu-img-mask"></div>
  					<div class="submenu-desc-input submenu-health-doctors-button"><a href="http://www.marjanmedicalnews.com.br/" target="_blank"><button class="">Acesse nosso<br>"Medical News"</button></a></div>
  				</div>
  			</div>       		
        </div>
    </div>
    
    <!--Submenu Contact-->
    <div class="submenu-wrapper submenu-contact" id="submenu-wrapper-contact">
  		<div class="submenu" id="submenu-contact">
  			<div class="col-one-fourth submenu-column-01 submenu-columns submenu-heigth submenu-description" id="submenu-contact-column-01">
  				<div class="submenu-desc-title text-left"><h4>FALE CONOSCO</h4></div>
  				<div class="submenu-desc-summary text-left"><p>Tire suas dúvidas, participe e dê sugestões</p></div>
  				<div class="submenu-desc-button"><a href="../../sections/contato/home.html"><button id="sm-prod-ct-btn-km"></button></a></div>
  			</div>
       		<div class="col-three-fourth submenu-column-02 submenu-heigth" id="submenu-contact-column-02">	 
       		    <div class="submenu-columns submenu-heigth submenu-column-02-left">
  					<div class="submenu-desc-title text-left width-100"><h4>CANAIS DE ATENDIMENTO</h4></div>
					<ul class="submenu-desc-summary text-left">
						<li><p><a href="../../sections/contato/home.html">Preencha nosso formulário</a></p></li>
						<li><p><a href="../../sections/farmacovigilancia/home.html">Farmacovigilância</a></p></li>
						<li><p>E-mail: <a href="mailto: sac@marjanfarma.com.br?Subject=Contato de e-mail através do Portal Marjan Farma">sac@marjanfarma.com.br</a></p></li>
						<li><p>SAC: 0800-55-4545</p></li>
					</ul>
  				</div>				
  				<div class="submenu-columns submenu-heigth submenu-column-02-right" style="background-image: url(../../imgs/menu/submenus/menus-contato-pags-topo.jpg); background-position: left top">  
  					<div class="submenu-img-mask"></div>					
  					<div class="submenu-desc-input submenu-health-doctors-button"><a href="../../sections/farmacovigilancia/home.html"><button class="">Reações ou eventos<br>adversos?</button></a></div>
  				</div>
  			</div>       		
        </div>
    </div>
    
</header>

<main class="main-health-doctors">

	<section class="first-section-health-doctors">
		<div class="first-section-wrapper" id="first_section_wrapper" style="background-image: url(../../imgs/sections/profissionais-da-saude/header-img.jpg); background-position: center;">
			<div class="info-wrapper">
				<div class="info-container">
					<div class="page-info text title" id="title_about_us_values" >
						<h3 class="pre-line">PROFISSIONAIS<br>DA SAÚDE</h3>
					</div>	
					<div class="page-info text sub-title" id="text_about_us_values" >
						<h4 class="pre-line">Acesse nosso portal<br>e mantenha-se sempre<br>atualizado</h4>
					</div>
				</div>
			</div>
		
		</div>
		
		<div class="call-to-next" id="call_to_next">
			<img src="../../imgs/sections/profissionais-da-saude/call-to-next.png" />
		</div>
		<!--<div class="first-section-wrapper" id="first_section_wrapper" style="background-image: url(../../imgs/sections/sobre-nos/fachada-marjan-h965.jpg); background-position: left center;">			
		</div>
		<div class="call-to-next" id="call_to_next">
			<img src="../../imgs/sections/sobre-nos/call-to-next.png" />
		</div>-->
	</section>
	
	<section class="second-section-health-doctors call-to-next-anchor">
		<div class="second-section-wrapper" id="second_section_wrapper">
			<div class="second-section-text-wrapper">
				<h4 class="second-section-text">Um portal com informações e conteúdo científico dedicado ao profissional da saúde! Faça o cadastro e tenha acesso a inúmeros materiais, escritos e gravados por médicos renomados, além de diversos outros materiais sobre os mais variados temas e assuntos relevantes à área médica.</h4>
			</div>
		</div>		
	</section>
	
	<section class="third-section-products">
		<div class="third-section-wrapper" id="third_section_wrapper">			
			<div class="third-filter-wrapper">
				<div class="third-section-col-01" id="third-section-col-01" style="background-image: url(../../imgs/sections/profissionais-da-saude/prof-saude-inter.jpg); background-position: left center;">
					<!--<div>
						<img src="../../imgs/sections/produtos/prof-saude.png" />
					</div>-->
				</div>
				<div class="third-section-col-02">
					<div class="third-section-col-01-title center-text">
						<h4>PORTAL MÉDICO CIENTÍFICO<br>“MEDICAL NEWS”</h4>
						<p>Tenha acesso à periódicos, vídeo-aulas, bulas e mais.</p>
					</div>
					<!--<div class="third-section-col-01-subtitle text-left">
						<h4>Desde 1961 a Marjan Farma reforça<br>seu compromisso de atuar em favor da<br>melhoria da qualidade de vida.</h4>
					</div>-->
					<div class="third-section-col-01-button center-text">
						<a href="http://www.marjanmedicalnews.com.br" target="_blank"><button><h6>ACESSE</h6></button></a>
					</div>							
				</div>				
			</div>			
		</div>
	</section>	
	
	<section class="know-more-about-mj display-inline-block">
		<div class="know-more-about-mj-wrapper center-text" id="know-more-about-mj-wrapper">
			<div class="know-more-about-mj-title-wrp">
				<h4 class="know-more-about-mj-title pre-line title">SAIBA MAIS SOBRE A MARJAN FARMA</h4>
			</div>
			<div class="know-more-about-mj-items display-inline-flex max-width-x" id="know-more-about-mj-items-wrapper">
				<div class="float-left center-text">
				<div class="know-more-about-mj-items-wrapper-01 know-more-about-mj-items-wrapper" id="know-more-about-mj-items-wrapper-01">					
					<div class="know-more-about-mj-items-row-01">
						<div class="know-more-about-mj-items-info-wrapper">						
							<div class="know-more-about-mj-items-info" style="background-image: url(../../imgs/common/know-more-about-mf/carreira.png); background-position: right bottom">
							</div>
							<div class="bottom-text max-width-x"><h6><a href="../../sections/carreira/home.html">CARREIRAS<br><font style="opacity: 0">.</font></a></h6></div>
						</div>
					</div>
				</div>				
				<div class="know-more-about-mj-items-wrapper-02 know-more-about-mj-items-wrapper" id="know-more-about-mj-items-wrapper-02">					
					<div class="know-more-about-mj-items-row-01">
						<div class="know-more-about-mj-items-info-wrapper">
							<div class="know-more-about-mj-items-info" style="background-image: url(../../imgs/common/know-more-about-mf/produtos.png); background-position: right bottom"></div>	
							<div class="bottom-text max-width-x"><h6><a href="../../sections/produtos/home.html">CONHEÇA NOSSOS<br>PRODUTOS</a></h6></div>
						</div>
					</div>
				</div>
				</div>
				<div class="float-left center-text">
				<div class="know-more-about-mj-items-wrapper-03 know-more-about-mj-items-wrapper" id="know-more-about-mj-items-wrapper-03">					
					<div class="know-more-about-mj-items-row-01">
						<div class="know-more-about-mj-items-info-wrapper">
							<div class="know-more-about-mj-items-info" style="background-image: url(../../imgs/common/know-more-about-mf/saude-e-bem-estar.png); background-position: right bottom"></div>	
							<div class="bottom-text max-width-x"><h6><a href="../../sections/saude-e-bem-estar/home.html">SAÚDE E BEM-ESTAR<br><font style="opacity: 0">.</font></a></h6></div>
						</div>
					</div>					
				</div>
				<div class="know-more-about-mj-items-wrapper-04 know-more-about-mj-items-wrapper" id="know-more-about-mj-items-wrapper-04">					
					<div class="know-more-about-mj-items-row-01">
						<div class="know-more-about-mj-items-info-wrapper">
							<div class="know-more-about-mj-items-info" style="background-image: url(../../imgs/common/know-more-about-mf/sala-de-noticias.png); background-position: right bottom">
							</div>
							<div class="bottom-text max-width-x"><h6><a href="../../sections/noticias/home.html">VISITE NOSSA SALA<br>DE NOTÍCIAS</a></h6></div>
						</div>
					</div>
				</div>
				</div>
			</div>	
			<div class="know-more-about-mj-items display-inline-table min-width-x" id="know-more-about-mj-items-wrapper-01-a">
				<div class="know-more-about-mj-items-wrapper-01 know-more-about-mj-items-wrapper display-flex min-width-x-wrapper" id="know-more-about-mj-items-wrapper-01a">
					<div class="know-more-about-mj-items-row-01 min-width-x">
						<div class="know-more-about-mj-items-info-wrapper min-width-x">						
							<div class="bottom-text min-width-x"><h6><a href="../../sections/carreira/home.html">CARREIRAS<br></a></h6></div>
						</div>
					</div>
				</div>				
				<div class="know-more-about-mj-items-wrapper-02 know-more-about-mj-items-wrapper display-flex min-width-x-wrapper" id="know-more-about-mj-items-wrapper-02a">				<div class="know-more-about-mj-items-row-01 min-width-x">
						<div class="know-more-about-mj-items-info-wrapper min-width-x">
							<div class="bottom-text min-width-x"><h6><a href="../../sections/produtos/home.html">CONHEÇA NOSSOS<br>PRODUTOS</a></h6></div>
						</div>
					</div>
				</div>
				<div class="know-more-about-mj-items-wrapper-03 know-more-about-mj-items-wrapper display-flex min-width-x-wrapper" id="know-more-about-mj-items-wrapper-03a">
					<div class="know-more-about-mj-items-row-01 min-width-x">
						<div class="know-more-about-mj-items-info-wrapper min-width-x">
							<div class="bottom-text min-width-x"><h6><a href="../../sections/saude-e-bem-estar/home.html">SAÚDE E BEM-ESTAR</a></h6></div>
						</div>
					</div>					
				</div>
				<div class="know-more-about-mj-items-wrapper-04 know-more-about-mj-items-wrapper display-flex min-width-x-wrapper" id="know-more-about-mj-items-wrapper-04a">
					<div class="know-more-about-mj-items-row-01 min-width-x">
						<div class="know-more-about-mj-items-info-wrapper min-width-x">
							<div class="bottom-text min-width-x"><h6><a href="../../sections/noticias/home.html">VISITE NOSSA SALA<br>DE NOTÍCIAS</a></h6></div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</section>

	<section class="contact-footer-section">
		<div class="contact-footer-section-wrapper" id="contact_footer_section_wrapper">			
			<div class="contact-footer-wrapper padding-0">
				<div class="contact-footer-col-01 width-100">
					<div class="contact-data">
						<h4>DÚVIDAS, CONTATO, REAÇÕES ADVERSAS?</h4>
						<h4>Fale conosco e consulte nossos especialistas. Relate qualquer evento adverso.<br>Ligue para o nosso SAC 0800-55-4545</h4>
					</div>
				</div>				
			</div>			
		</div>
	</section>
	
</main>

<footer class="footer-static-wrapper">
	<hr>
	<div class="footer-container-static">
		<div class="footer-static-col-01 footer-static-cols">
			<div class="footer-copyrights"><p>@Copyright 2017 Marjan Farma Indústria - Todos os direitos reservados</p></div>
			<div class="footer-privacy-politics"><p>Política de Privacidade</p></div>
		</div>
		<div class="footer-static-col-02 footer-static-cols">
			<div class="footer-sac-text"><p>Para dúvidas e sugestões entre em contato com o Serviço de Atendimento ao cliente</p></div>
			<div class="footer-sac-phone-number"><p>SAC: 0800-55-4545</p></div>
			<div class="footer-sac-email"><p>E-mail: <a href="mailto: sac@marjan.com.br">sac@marjan.com.br</a></p></div>
		</div>
	</div>
</footer>

<script language="javascript">
	window.onload = function(){
		Application.beforeStart(false);	
		menu_fns.Initialize(false);
	}
$(document).ready(Application.documentReady); 
</script>

</body>
</html>