<!doctype html>
<html ng-app="ngApp">

<head>
    <title>Marjan Farma</title>
    <meta charset="utf-8">
    <meta name="description" content="Desde 1961 a Marjan Farma caminha com o compromisso de atuar a favor da melhoria da qualidade de vida. Ao longo de sua trajetoria, orgulha-se de ter construido uma empresa 100% nacional, fundamentada na integridade, etica e transparencia em seus relacionamentos, seja com seus colaboradores, classe medica, comunidade ou parceiros de negocios.Em sintonia com as novas tecnologias, a empresa prepara seu lugar no futuro. Futuro que se faz presente a cada dia, tal a rapidez com que as novas descobertas cientificas transformam-se em novos produtos." />
	<meta name="keywords" content="marjan, marjan farma, farma, farmacia, medicina, medico, saude, bem-estar, bem estar, social, responsabilidade, responsabilidade social, medicamento, medicamentos, doutor, doutores, medicos, medica, medicas, bulas, bula, paciente, pacientes" />
	<meta name="author" content="Marjan Farma" />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">


	<link href="../../css/styles.css" rel="stylesheet" type="text/css">
	<link href="../../css/global-styles.css" rel="stylesheet" type="text/css">
	<link href="../../css/menus.css" rel="stylesheet" type="text/css">
	<link href="../../css/footer.css" rel="stylesheet" type="text/css">
	<link href="../../css/page-header.css" rel="stylesheet" type="text/css">
	<link href="../../css/products-list.css" rel="stylesheet" type="text/css">
	<link href="../../css/products-list-show-list-print.css" rel="stylesheet" type="text/css">
	<link href="../../css/products-list-show-tiles.css" rel="stylesheet" type="text/css">

	<script src="../../js/libs/greensock-js/TweenMax.js"></script>
	<script src="../../js/libs/greensock-js/plugins/ScrollToPlugin.js"></script>

	<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

	<script src="../../js/common.js"></script>
	<script src="../../js/controllers.js"></script>
	<script src="../../js/application.js"></script>
	<script src="../../js/menu.js"></script>

	<script src="../../js/printlist.js"></script>
</head>

<body class="no-home body-mj">



<main class="list-products">

	<section>
		<div class="logo-mj-wrapper">
			<img src="../../img/_logos/logo-marjan.png" height="100%">
		</div>
	</section>

	<section class="third-section-list-products products-list">
		<div class="products-list-wrapper">
		</div>
	</section>

</main>

<footer class="footer-static-wrapper">
	<hr>
	<div class="footer-container-static">
		<div class="footer-static-col-01 footer-static-cols">
			<div class="footer-copyrights"><p>@Copyright 2017 Marjan Farma Indústria - Todos os direitos reservados</p></div>
			<div class="footer-privacy-politics"><p>Política de Privacidade</p></div>
		</div>
		<div class="footer-static-col-02 footer-static-cols">
			<div class="footer-sac-text"><p>Para dúvidas e sugestões entre em contato com o Serviço de Atendimento ao cliente</p></div>
			<div class="footer-sac-phone-number"><p>SAC: 0800-55-4545</p></div>
			<div class="footer-sac-email"><p>E-mail: <a href="mailto: sac@marjan.com.br">sac@marjan.com.br</a></p></div>
		</div>
	</div>
</footer>

<script language="javascript">
	window.onload = function(){
		Application.beforeStart(false);
		products_list.Initialize();
	}
$(document).ready(Application.documentReady);
</script>

</body>
</html>
